html
head
  meta(charset="UTF-8")
  title footer
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,300,700|Paytone+One")
  link(rel="stylesheet", href="css/style.css")
body
  .wrapper
    .main-content
      h1 footer
      p by flrnt
    footer
      nav.float-left
        a(href="#") About
        i.fa.fa-circle
        a(href="#") Products
        i.fa.fa-circle
        a(href="#") Investors
        
      p 
        i.fa.fa-modx 
      
      nav.float-right
        a(href="") Careers
        i.fa.fa-circle
        a(href="") Stocks
        i.fa.fa-circle
        a(href="") Contact
    
